#app {
    height: 100%;
}

html,
body {
    position: relative;
    /* height: 100%; */
}

body {
    background-color: #0d0707;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.nosotros-seccion {
    margin: auto 12rem auto 12rem;
    padding: 9rem 0 0rem 0;
}

.swiper {
    width: 100%; /* Cambia el ancho al 100% */
    height: 100%;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
    justify-content: space-between;
}

.swiper-slide {
    cursor: grabbing;
    text-align: center;
    font-size: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    color: antiquewhite;
}

.swiper-button-next {
    color: antiquewhite;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #e8e8e8;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white;
}

@media only screen and (max-width: 1440px) {
    .nosotros-seccion {
        margin: 0 8rem 0 8rem;
        padding: 10rem 0 0rem 0;
    }
}

@media only screen and (max-width: 1139px) {
    .nosotros-seccion {
        margin: 0 5rem 0 5rem;
        padding: 9rem 0 0rem 0;
    }
}

@media only screen and (max-width: 1024px) {
    .nosotros-seccion {
        margin: 0 2rem;
        padding: 9rem 0 0rem 0;
    }
}


@media only screen and (max-width: 670px) {}

@media only screen and (max-width: 500px) {
    .nosotros-seccion {
        margin: 0 2rem;
        padding: 9rem 0 0rem 0;
    }
}